<ul className="carousel-indicators" style="z-index:1">
    <li data-target="#demo" data-slide-to="0" class=""></li>
    <li data-target="#demo" data-slide-to="1" class=""></li>
    <li data-target="#demo" data-slide-to="2" class="active"></li>
</ul>

<div className="carousel-inner">
    <div class="carousel-item">
        <img src="Bootstrap%204%20Carousel_files/la.jpg" alt="Los Angeles" style="width:100%;height:100%;">
            
    </div>
    <div class="carousel-item">
        <img src="Bootstrap%204%20Carousel_files/chicago.jpg" alt="Chicago" style="width:100%;height:100%;">
    </div>
    <div class="carousel-item active">
        <img src="Bootstrap%204%20Carousel_files/ny.jpg" alt="New York" style="width:100%;height:100%;">
    </div>
</div>

<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>